# HELP srcds_up is the gameserver reachable
# TYPE srcds_up gauge
srcds_up{hostname="{{hostname}}"} 1

# HELP srcds_players the number of players currently on the server
# TYPE srcds_players gauge
srcds_players{hostname="{{hostname}}"} {{players}}

# HELP srcds_maxplayers the maximum number of players on the server
# TYPE srcds_maxplayers gauge
srcds_maxplayers{hostname="{{hostname}}"} {{max_players}}

# HELP srcds_bots the number of bots on the server
# TYPE srcds_bots gauge
srcds_bots{hostname="{{hostname}}"} {{bots}}

{%if CPU is defined%}
# HELP srcds_CPU currently unkown
# TYPE srcds_CPU gauge
srcds_cpu{hostname="{{hostname}}"} {{CPU}}
{%endif%}

{% if NetIn is defined %}
# HELP srcds_NetIn currently unkown
# TYPE srcds_NetIn gauge
srcds_NetIn{hostname="{{hostname}}"} {{NetIn}}
{% endif %}

{% if NetOut is defined %}
# HELP srcds_NetOut currently unkown
# TYPE srcds_NetOut gauge
srcds_NetOut{hostname="{{hostname}}"} {{NetOut}}
{% endif %}

{% if Uptime is defined %}
# HELP srcds_Uptime server uptime in minutes
# TYPE srcds_Uptime counter
srcds_Uptime{hostname="{{hostname}}"} {{Uptime}}
{% endif %}

{% if Maps is defined %}
# HELP srcds_Maps Number of Maps played
# TYPE srcds_Maps gauge
srcds_Maps{hostname="{{hostname}}"} {{Maps}}
{% endif %}

{% if FPS is defined %}
# HELP srcds_FPS currently unkown
# TYPE srcds_FPS gauge
srcds_FPS{hostname="{{hostname}}"} {{FPS}}
{% endif %}

{% if svarms is defined %}
# HELP srcds_svarms probably the standard variation of the frametimes in ms
# TYPE srcds_svarms gauge
srcds_svarms{hostname="{{hostname}}"} {{svarms}}
{% endif %}

{% if varms is defined %}
# HELP srcds_varms probably the variation of the frametimes in ms
# TYPE srcds_varms gauge
srcds_varms{hostname="{{hostname}}"} {{varms}}
{% endif %}

{% if vartick is defined %}
# HELP srcds_vartick probably the variation of ticks
# TYPE srcds_vartick gauge
srcds_vartick{hostname="{{hostname}}"} {{vartick}}
{% endif %}

{% if Users is defined %}{# L4D2 has Users and Players in the "stats" command #}
# HELP srcds_Users currently unknown
# TYPE srcds_Users gauge
srcds_Users{hostname="{{hostname}}"} {{Users}}
{% endif %}

{% if Connects is defined %}{# Connects is not known by CSGO but by FoF, HL2DM and TF2#}
# HELP srcds_Connects the numer of times someone connected to the server
# TYPE srcds_Users counter
srcds_Connects{hostname="{{hostname}}"} {{Connects}}
{% endif %}
